body {
    background-color: aquamarine;
}

.flip-card {
    background-color: transparent;
    height: 50vh;
    width: 30vh;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card,
.flip-card-inner {
    /* transform: rotateY(180deg); */
}

.flip-card-front {
    background-image: url(images/plaid.png);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
}

.flip-card-back {
    background-image: url(images/0-The-Fool.jpg);
    background-size: cover;

}

.flip {
    transform: rotateY(180deg);
}

.transform {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}




h1 {}